body{
    height: 100vh;
    width: 100%;
    background: #fdfdfd;
}
h1{
    font-size: 40px;
    font-weight: 400;
}
.ex-cv{
    color: #ff1f5a;
}
section{
    display: flex;
}
.content{
    width: 50%;
    padding: 40px;
}

.container img{
    height: 50%;
    width: 50%;
    padding: 80px;
    margin-top: 50px;
    border-radius: 100%;
} 
p{
    text-align: justify;
}
.btn{
    padding: 10px;
    text-decoration: none;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    background: #22d1ee;
    margin-top: 10px;
    transform: 0.5s;
}
